<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}" type="text/css">


</head>

<style>
    footer {
        margin-top: 200px;
    }

    navbar {
        margin-top: 0px;
    }
</style>

<body>


    <header class="header">
        <div class="logo">
            <img src="{% static 'img/evo.png' %}" alt="logo de prueba">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href='index'>Inicio</a></li>
                <li><a href="acercade">acerca de</a></li>
                <li><a href="galeria">galeria</a></li>
                <li><a href="formulario1">Contacto</a></li>
                <li><a href="api">Gacha</a></li>
                <li><a href="registro3">a</a></li>
            </ul>
        </nav>
        <a href="Registro2" class="button">Registro</a>
    </header>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong class="text-dark">{{ message }}</strong>
            </div>
            {% endfor %}
            {% endif %}
            <h2></h2>
            <div class="card">
                <div class="card-body">
                    <form action="registrarUsuario" method="POST">{% csrf_token %}
                        <div class="form-group">
                            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="nombre"
                                minlength="2" required>
                        </div>
                </div>
                <div class="form-group">
                    <input type="email" id="email" name="email" class="form-control" 
                        placeholder="email" required>
                </div>
                <div class="form-group">
                    <input type="password" id="clave" name="clave" class="form-control" placeholder="Nombre"
                        minlength="4" required>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <h1>Listado de Cursos</h1>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th>nombre</th>
                            <th>email</th>
                            <th>password</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for c in clientes %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{c.nombre}</td>
                            <td>{{c.email}}</td>
                            <td>{{c.password}}</td>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<footer class="footer">
    <br><br>
    <footer>
        <div class="row col-12">
            <div class="col-lg-2">
                <img src="{% static 'img/evo.png' %}" alt="logoBookStop" width="60px">
            </div>
            <div class="col-lg-1">
                <a href="index.html" id="linkFooter"><strong>INICIO</strong></a>
            </div>
            <div class="col-lg-1">
                <strong></strong>
            </div>
            <div class="col-lg-1">
                <strong>FORO</strong>
            </div>
            <div class="col-lg-2">
                <a href="#" id="linkFooter"><strong>RANKING</strong></a>
            </div>

            <div class="col-lg-2">
                <strong>Síguenos</strong>
                <br><br>
                <div class="row">
                    <img src="{% static 'img/2000px-Facebook_font_awesome.svg.png' %}" alt="" width="30px" height="30px"
                        style=" margin-left: 15px;">
                    <img src="{% static 'img/twitter.png' %}" alt="" width="30px" height="30px"
                        style=" margin-left: 10px;">
                    <img src="{% static 'img/Instagram.png' %}" alt="" width="30px" height="30px"
                        style=" margin-left: 10px;">

                </div>
            </div>


            <div class="col-lg-3">

                <strong>Contacto</strong>
                <br><br>
                <div class="row">
                    <img src="{% static 'img/location.png' %}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>Mario Carneyro 4452, pedro aguirre cerda</p>
                </div>
                <div class="row">
                    <img src="{% static 'img/fono.png' %}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>225554000</p>
                </div>
                <div class="row">
                    <img src="{% static 'img/email.png' %}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>consulta@evo.cl</p>
                </div>
                <br><br><br>

                <p>&copy; EVO - 2023</p>
            </div>
        </div>
    </footer>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>